*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Settings Files #
.settings
.project
.classpath
target/
test-output/

# IntelliJ Settings Files #
.idea/
out/
.idea_modules/
*.iml
*.iws

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX1+RfPCHBK7S2qAt8349VcqNey6ZkuG3TG9jhSU8TaBv6l/cf9Y8fJq8
qLMsqY5q0uMdP0ORXJuwI1O18zBe3O3TPFkZsVaTJ0k=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
CUSTOM*
*.bak
